*{
    box-sizing: border-box;
        }
body{
background-color: #fcffff;
        }



.flex-container1{
    display:flex ;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    background-color: #f4f4f4;
}

.sub{
    background:#f4f4;
    border: #ccc solid 10px;
    margin: 5px;
    /* padding: 10px; */
   text-align: center;
   border-radius: 10px;
   width: 500px;
   flex: 1;
}
h3{
    text-align: justify;
    padding: 10px;
}

p{
    text-align: justify;
    padding: 10px;
}
@media(max-width: 768px) {
    .flex-container1{
        flex-direction: column;
        align-items: center;
        
        
    
        }

         .flex-container1 .sub {
            /* font-size:10px; */
            flex: 100%;
            max-width: 100%;
           
            
         }
       
}
